Rtt.Web/Rtt.Web/Connected Services/ContactServiceReference/ContactService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="Rtt.Wcf" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" targetNamespace="Rtt.Wcf" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Rtt.Wcf/Imports">
      <xsd:import schemaLocation="http://localhost:57971/ContactService.svc?xsd=xsd2" namespace="Rtt.Wcf" />
      <xsd:import schemaLocation="http://localhost:57971/ContactService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57971/ContactService.svc?xsd=xsd1" namespace="Rtt.Models.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ContactService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="ContactService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="ContactService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ContactService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ContactService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="ContactService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ContactService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="ContactService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="ContactService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="ContactService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="false" name="ContactService">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="Rtt.Wcf/IBaseServiceOf_ContactDto/Create" message="tns:ContactService_Create_InputMessage" />
      <wsdl:output wsaw:Action="Rtt.Wcf/IBaseServiceOf_ContactDto/CreateResponse" message="tns:ContactService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="Rtt.Wcf/IBaseServiceOf_ContactDto/Delete" message="tns:ContactService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="Rtt.Wcf/IBaseServiceOf_ContactDto/DeleteResponse" message="tns:ContactService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="Rtt.Wcf/IBaseServiceOf_ContactDto/Update" message="tns:ContactService_Update_InputMessage" />
      <wsdl:output wsaw:Action="Rtt.Wcf/IBaseServiceOf_ContactDto/UpdateResponse" message="tns:ContactService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="Rtt.Wcf/IBaseServiceOf_ContactDto/GetAll" message="tns:ContactService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="Rtt.Wcf/IBaseServiceOf_ContactDto/GetAllResponse" message="tns:ContactService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="Rtt.Wcf/IBaseServiceOf_ContactDto/GetById" message="tns:ContactService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="Rtt.Wcf/IBaseServiceOf_ContactDto/GetByIdResponse" message="tns:ContactService_GetById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>