Rtt.Web/Rtt.Web/Connected Services/ContactServiceReference/ContactService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Rtt.Models.Dto" elementFormDefault="qualified" targetNamespace="Rtt.Models.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ContactDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CITY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COUNTRY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FIRST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="INITIALS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LAST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOBILE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POSTAL_ADDRESS_1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POSTAL_ADDRESS_2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POSTAL_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POSTAL_SUBURB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STREET_ADDRESS_1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STREET_ADDRESS_2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STREET_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUBURB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TELH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TELW" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactDto" nillable="true" type="tns:ContactDto" />
  <xs:complexType name="ArrayOfContactDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactDto" nillable="true" type="tns:ContactDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContactDto" nillable="true" type="tns:ArrayOfContactDto" />
</xs:schema>